.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  position: relative;
  min-height: 100vh;
}

@media only screen and (max-width: 500px) {
  .App {
    min-height: 90vh;
  }
}
