.books {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 55px;
  grid-column-gap: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.book {
  position: relative;
  height: 185px;
  width: 335px;
  background: #fff9d0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
  color: gray;
  padding-right: 17px;
  box-shadow: 2px 2px 4px 2px #697578;

  img {
    position: absolute;
    bottom: 14px;
    left: 14px;
    width: 114px;
    height: 155px;
    box-shadow: 2px 2px 2px 0px #ccc;
  }

.title {
    grid-column: 3/6;
    grid-row: 1/2;
    font-weight: 700;
    align-self: center;
    margin-top: 8px;
    color: #1f1c29;
  }

.author {
    grid-column: 3/6;
    grid-row: 2/3;
    font-size: 12px;
    align-self: end;
  }

.publisher {
    grid-column: 3/6;
    grid-row: 3/4;
    font-size: 12px;
    justify-self: start;
  }

.bookLink {
    text-decoration: none;
    grid-column: 3/5;
    grid-row: 4/6;
    background: #300f9c;
    color: white;
    font-weight: 800;
    border-radius: 6px;
    align-self: center;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    padding: 8px;
    width: 110px;
    border: 1px solid #300f9c;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media only screen and (max-width: 500px) {
  .books {
    grid-template-columns: 1fr;
  }

  .book {
    padding: 0;
  }
}